#map
    .footer.text-center
        .social
            a(href='#')
                i.fa.fa-facebook.fa-2x
            a(href='#')
                i.fa.fa-instagram.fa-2x
            a(href='#')
                i.fa.fa-twitter.fa-2x
            a(href='#')
                i.fa.fa-pinterest.fa-2x
        |         Powered by:
        a(href='http://thebootstrapthemes.com') www.thebootstrapthemes.com
    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
        .slides
        h3.title Title
        a.prev ‹
        a.next ›
        a.close ×
    a.gototop.scroll(href='#home')
        i.fa.fa-angle-up.fa-3x

