.navbar.navbar-default
    .container-fluid#main-menu
        .navbar-header
            a.navbar-brand(href='/') All4MTB
            ul.nav.navbar-nav#navbar-menu
            ul.nav.navbar-nav.navbar-right
                li.dropdown#user-info
                    a.dropdown-toggle(data-toggle="dropdown")
                        span.glyphicon.glyphicon-user &nbsp;
                    ul.dropdown-menu
                        li#login