form
    include ./generic_error.jade
    .form-group
        input.form-control(name="username" type="text" placeholder="utilizator")
    .form-group
        input.form-control(name="password" type="password" placeholder="parola")
    .form-group
        button.form-control.btn.btn-default(type=submit) Login
    .container
        .row
            .forgot-password.form-group.col-sm-6
                a.login-link(href="javascript://") Ai uitat parola?
            .register-group.form-group.col-sm-6
                a#register-action.login-link(href="javascript://") Inregistreaza-te aici.