form
  include ./generic_error.jade
  .form-group
    input.form-control(name="username" type="text" placeholder="utilizator")
  .form-group
    input.form-control(name="password" type="password" placeholder="parola")
  .form-group
    input.form-control(name="phone" type="text" placeholder="telefon")
  .form-group
    button.form-control.btn.btn-default(type=submit) Inregistrare