/**
* login
*/
.navbar.navbar-default{
    margin-bottom:0px;
}
li.dropdown .dropdown-menu{
    z-index: 99999;
}
li.dropdown .dropdown-menu #login{
    padding: 5px;
    display: block;
    width: 300px;
}
li.dropdown .dropdown-menu #login .btn{
    padding: 0.3em;
}
li.dropdown .dropdown-menu #login .login-link{
    font-size:0.8em;
}
li.dropdown .dropdown-menu #login .container{
    width:300px;
}